@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background:#f4f4ef;
    height: 100%;
}

.container {
    display: flex;
    padding: 40px 40px;
    justify-content: center;
    width: auto;
    height: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-align-right {
    text-align: end;
}
.navbar {
    background: white;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
}

.navbar-menu {
    display: block;
    justify-content: flex-end;
    padding: 1rem 2rem;
}

.navbar-menu a {
    margin: 10px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.navbar h2 {
    display: flex;
    padding: 20px;
    margin: 0;
    font-weight: 200;
    letter-spacing: 4px;
    padding-left: 3rem;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.card {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 25%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
}

.modal-main {
    padding: 20px;
    text-align: center;
    position: fixed;
    background: white;

    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title {
    text-transform: uppercase;
    color: #85144b;
    font-weight: bolder;
}

.message {
    font-weight: thin;
    color: #666666;
    line-height: 1.6;
    margin-top: 20px;
}

.status {
    color: #263238;
    text-align: end;
}

.btn {
    display: block;
    padding: 10px 15px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}

.group-btn {
    text-align: end;
}

.group-btn button {
    margin: 3px;
}

.editPost {
    display: block;
    width: auto;
}
/* 
input {
    margin: .5rem;
  height: 2rem;
  width: 100%;
  border: 1px solid #dbe2e8;
  border-radius: 2px;
  outline: none;
}

textarea {
    margin: .5rem;
    height: 8rem;
    width: 100%;
    border: 1px solid #dbe2e8;
    border-radius: 2px;
    outline: none;
  } */